Documentatie_AM.pages
garfield_comics
garfield_panels
Documentatie_Lazar_Vlad-Andrei_332AB.pdf
main.py
prezentare.key
Prezentare_Lazar_Vlad-Andrei_332AB.pptx
.DS_Store
.idea
Screenshot 2025-04-28 at 17.30.10.png
Proiect_AM_Lazar_Vlad-Andrei_332AB